body {
    background-color: #4061A0 !important;
}

form {
    background-color: #f4f4f4;
    text-align: center;
    margin-left: 50% !important;
    margin-right: 50% !important;
    border-radius: 5%;
    margin-bottom: 10% !important;
    width: 50% !important;
}



footer {
    background-color: #4061A0 !important;


}

main {
    text-align: center;
}

button {
    text-align: center !important;
    border: 10%;
    margin: 1% !important;
    margin-top: 5% !important;
    background-color: #4061A0;
    font-size: x-large !important;
    border-radius: 7% !important;
    margin-inline-start: 10% !important;
}

label {
    margin-top: 4% !important;
    color: hsla(0, 3%, 7%, 0.918) !important;

}




.input {
    padding: 1em !important;
    background-color: #4061A0 !important;
    margin-top: 1em !important;
    text-align: center;
    border-radius: 1em !important;
    width: 80%;
}


header {

    text-align: center !important;
    color: #f4f4f4;
    margin-top: 1% !important;
}

img {
    text-align: center;
    margin-block-end: 11% !important;

}

.tabela {
    width: 80% !important;
    margin-top: 12%;
    border-radius: 5%;
    margin-left: 0%;
    margin-right: 90% !important;

}



.container-fluid{
    margin-top: 10% !important;
    text-align: center !important;  
margin-left: 0% !important;
margin-right: 0% !important;
}

.col-6{
    margin-top: 5% !important;
    width: 60% !important;

}
